URxvt*background:                       Black
URxvt*foreground:                       White

URxvt*colorUL:                          yellow
URxvt*underlineColor:                   yellow
URxvt*cursorColor:                      Magenta

URxvt*font: xft: Droid Sans Mono:pixelsize=15:antialias=true:hinting=true
URxvt.cursorUnderline:1
URxvt.scrollBar: false

