URxvt.background: rgb:00/00/00
URxvt.foreground: rgb:c2/c2/c2

*color0: rgb:00/00/00
*color1: rgb:a8/00/00
*color2: rgb:00/a8/00
*color3: rgb:a8/54/00
*color4: rgb:00/00/a8
*color5: rgb:a8/00/a8
*color6: rgb:00/a8/a8
*color7: rgb:42/42/42
*color8: rgb:00/00/00
*color9: rgb:f8/54/50
*color10: rgb:50/fc/50
*color11: rgb:f8/fc/50
*color12: rgb:50/54/f8
*color13: rgb:f8/54/f8
*color14: rgb:50/fc/f8
*color15: rgb:f8/fc/f8

URxvt.letterSpace:-1
!URxvt*font: xft:sourcecodepro-medium:pixelsize=15:antialias=true:hinting=true
URxvt*font: xft: Droid Sans Mono:pixelsize=15:antialias=true:hinting=true
URxvt.cursorUnderline:1
URxvt.scrollBar: false

URxvt.perl-ext-common: default,clipboard
